.nogrid {
	background: url(img/nogrid.png);
	background-size: 39px 39px;
}

.gridProviders .thumbnail {
	height: 35px;
	width: 35px;
	padding: 2px;
	font-size: 0.9em;
	text-align: center;
	vertical-align: middle;
}

.line{
	background-color: #A0A0A0;
	position: relative;
}

.intersecting-line{
	background-color: #D2CF00;
}

.lineh{
	width: 100%;
	height: 1px;
}

.linev{
	width: 1px;
	height: 100%;
}
