.component .label,.component .ctrls{
	visibility: hidden;
	background: none;
	font-size: 100px;
	color: rgba(255, 255, 255, .7);
	text-shadow: 0 0 .2em rgba(50, 50, 50, .7) !important;
}

.component.textBox li {
	line-height: 1em;
}

.component .label {
	font-size: 25px;
}

.component input {
	visibility: hidden;
}

.component .content-scale {
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
}

.component .content {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	white-space: nowrap;
}

.component .content-scale:not(.svg) {
	display: inline-block;
}

.component .content:not(.svg) {
	display: inline-block;
}

.component.ui-selected .label,.component.ui-selected .ctrls {
	visibility: visible;
}

.component .removeBtn {
	z-index: 100;
}

.component.ui-selected input {
	visibility: visible;
}

.component .skewx {
	position: absolute;
	top: -35px;
	left: 10%;
	cursor: se-resize;
}

.component .skewy {
	position: absolute;
	top: 10%;
	left: -35px;
	cursor: se-resize;
}

.component .scale {
	position: absolute;
	right: -35px;
	bottom: -25px;
	cursor: se-resize;
	font-size: 40px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.component .scalex {
	position: absolute;
	bottom: 50%;
	right: -50px;
	cursor: ew-resize;
	font-size: 40px;
}

.component .scaley {
	position: absolute;
	bottom: -35px;
	left: 45%;
	cursor: ns-resize;
	font-size: 40px;
}

.component .rotate {
	position: absolute;
	top: -30px;
	left: 70%;
	cursor: nwse-resize;
}

.component .depthposition[data-option=z-min]{
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.component .depthposition[data-option=z-max]{
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.component .ctrls{
	position: absolute;
	top: -45px;
	left: 100%;
	width: 355px;
	font-size: 35px;
}

.component .ctrls .label{
	color: black !important;
}

.component .ctrls .liColorChooser{
	visibility: hidden;
	width: 50%;
}

.component input {
	width: 25px;
	height: 12px;
	line-height: 12px;
}

.component {
	position: absolute;
	line-height: normal;
	/*padding: 2px;*/
	cursor: pointer;
	margin: 0px;
	min-height: 25px;
	min-width: 25px;
}

.component {
	-moz-user-select: none;
	-webkit-user-select: none;
}

.component .content {
  outline: none;
}

.component.ui-selecting .content,
.component.ui-selected .content {
  outline: 2px dashed black;
  outline-offset: 1px;
}

.component.transitionSlideSnapshot > .content {
	outline: none;
	outline-offset: 0px;
}


.component.transitionSlideSnapshot .slideDrawer {
	outline: none;
	outline-offset: 0px;
}

/** Firefox outline bug fix */
.component.transitionSlideSnapshot.ui-selecting:before,
.component.transitionSlideSnapshot.ui-selected:before {
    content: '';
    margin: 0; padding: 0;
    position: absolute; z-index: -1;
    top: 0; left: 0;
    width: 100%; height: 100%;
    outline: 1px dashed black;
}

.component.transitionSlideSnapshot .content {
	outline: 0px;
	overflow: hidden;
}

.component.editable .content {
	cursor: auto;
  	outline: 0px;
  	outline: 2px solid red;
	-moz-user-select: text;
	-webkit-user-select: text;
}

.component.dragged:hover {
  cursor: move;
}

.component .close-btn-red-20 {
	display: none;
	position: absolute;
	top: 0px;
	left: -7px;
}

.component:hover .close-btn-red-20 {
	display: inline;
}

.component .shape-color-picker {
	background: #000;
	visibility: hidden;
	position: absolute;
	right: -60px;
	top: 0px;
}

.component.ui-selected .shape-color-picker {
	visibility: visible;
}

.component .point{
	visibility: hidden;
}

.component.ui-selected .point {
	visibility: visible;
}

.point{
	width: 13px;
	height: 13px;
	border-radius: 13px;
	background-color: rgba(73, 161, 255, 0.5);
	/*background-color: transparent;*/
	position: absolute;
}

.pointNorth{
	left: calc(50% - 8px);
	top: -8px;
}

.pointNorthEast{
	right: -8px;
	top: -8px;
}

.pointEast{
	right: -8px;
	top: calc(50% - 6px);
}

.pointSouthEast{
	right: -8px;
	top: calc(100% - 4px);
}

.pointSouth{
	left: calc(50% - 8px);
	top: calc(100% - 4px);
}

.pointSouthWest{
	left: -8px;
	top: calc(100% - 4px);
}

.pointWest{
	left: -8px;
	top: calc(50% - 6px);
}

.pointNorthWest{
	left: -8px;
	top: -8px;
}


.component .topLabel {
	position: absolute;
	left: 30%;
	top: -25px;
}

.component .topLabel .skewx {
	cursor: w-resize;
}

.component .topLabel .rotates {
	cursor: w-resize;
}

.component .leftLabel {
	position: absolute;
	left: -45px;
	top: 40%;
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

.component .leftLabel .skewy {
	cursor: s-resize;
}

.component .leftLabel .rotates {
	cursor: s-resize;
}

.component .scale {
	position: absolute;
	right: -35px;
	bottom: -25px;
	cursor: se-resize;
	font-size: 40px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.component .rightLabel {
	position: absolute;
	right: -45px;
	top: 50%;
	cursor: n-resize;
}

.component .positioningCtrls {
	position: absolute;
	bottom: -35px;
	font-size: 18px;
}

.component.comp-intersected {
	outline-offset: 1px;
	outline: 2px dashed red;
}

.tooltipModal .positionForm{
	width: 374px;
	height: 127px;
	text-align: center;
	margin: auto;
	background-size: 100%;
}

.tooltipModal .positionForm input[type=radio]{
	position: absolute;
}

.tooltipModal .positionForm .input-pos00{
	top: 43%;
	left: 37%;
}

.tooltipModal .positionForm .input-pos01{
	top: 43%;
	left: 49.5%;
}

.tooltipModal .positionForm .input-pos02{
	top: 43%;
	left: 60.5%;
}

.tooltipModal .positionForm .input-pos10{
	top: 59%;
	left: 37%;
}

.tooltipModal .positionForm .input-pos12{
	left: 60.5%;
	top: 59%;
}

.tooltipModal .positionForm .input-pos20{
	left: 37%;
	top: 74%;
}

.tooltipModal .positionForm .input-pos21{
	top: 74%;
	left: 49.5%;
}

.tooltipModal .positionForm .input-pos22{
	top: 74%;
	left: 60.5%;
}

.tooltipModal .positionForm.bg-pos-top-left{
	background-image: url(img/pos00.png);
}

.tooltipModal .positionForm.bg-pos-top-center{
	background-image: url(img/pos01.png);
}

.tooltipModal .positionForm.bg-pos-top-right{
	background-image: url(img/pos02.png);
}

.tooltipModal .positionForm.bg-pos-center-left{
	background-image: url(img/pos10.png);
}

.tooltipModal .positionForm.bg-pos-center-right{
	background-image: url(img/pos12.png);
}

.tooltipModal .positionForm.bg-pos-bottom-left{
	background-image: url(img/pos20.png);
}

.tooltipModal .positionForm.bg-pos-bottom-center{
	background-image: url(img/pos21.png);
}

.tooltipModal .positionForm.bg-pos-bottom-right{
	background-image: url(img/pos22.png);
}