

.handsontable th,.handsontable td {
  border-right: 1px dashed #000;
  border-bottom: 1px dashed #000;
  background-color: rgba(0, 0, 0, 0);
}

.handsontable tr:first-child th,.handsontable tr:first-child td{
  border-top: 1px dashed #000;
}

.handsontable th:first-child,.handsontable td:first-child,.handsontable .htNoFrame + th,.handsontable .htNoFrame + td{
  border-left: 1px dashed #000;
}

.componentContainer .handsontable .htBorders{
  position: absolute;
  top: -5px;
}

.componentContainer .handsontable th,.componentContainer .handsontable td {
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  background-color: rgba(0, 0, 0, 0);
}

.componentContainer .handsontable tr:first-child th,.componentContainer .handsontable tr:first-child td{
  border-top: 0px solid transparent;
}

.componentContainer .handsontable th:first-child,.componentContainer .handsontable td:first-child,.componentContainer .handsontable .htNoFrame + th,.componentContainer .handsontable .htNoFrame + td{
  border-left: 0px solid transparent;
}
