@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(Lato-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  src: local('Hammersmith One'), local('HammersmithOne'), url(HammersmithOne.woff) format('woff');
}
@font-face {
  font-family: 'Gorditas';
  font-style: normal;
  font-weight: 400;
  src: local('Gorditas'), local('Gorditas-Regular'), url(Gorditas-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(FredokaOne-Regular.woff) format('woff');
}
@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(PressStart2P-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(Lato-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(Lato-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Droid Sans Mono'), local('Droid-Sans-Mono'), url(Droid-Sans-Mono.woff) format('woff');
}
@font-face {
    font-family: 'Bebas';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas'), local('Bebas'), url(Bebas.ttf);
}
@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('Century Gothic'), local('Century Gothic'), url('Century Gothic.ttf');
}
@font-face {
    font-family: 'Comic Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Comic Sans'), local('Comic Sans'), url('Comic Sans.ttf');
}
@font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: 400;
    src: local('Coolvetica'), local('Coolvetica'), url('Coolvetica.ttf');
}
@font-face {
    font-family: 'DK Lemon Yellow';
    font-style: normal;
    font-weight: 400;
    src: local('DK Lemon Yellow'), local('DK Lemon Yellow'), url('DK Lemon Yellow.otf');
}
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('Kaushan Script'), url('Kaushan Script.otf');
}
@font-face {
    font-family: 'Opificio';
    font-style: normal;
    font-weight: 400;
    src: local('Opificio'), local('Opificio'), url('Opificio.ttf');
}
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster'), url('Lobster.otf');
}
@font-face {
    font-family: 'The Bold Font';
    font-style: normal;
    font-weight: 400;
    src: local('The Bold Font'), local('The Bold Font'), url('The Bold Font.ttf');
}
@font-face {
    font-family: 'Trajan Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Trajan Pro'), local('Trajan Pro'), url('Trajan Pro.ttf');
}
