/*[class*="bg-solid"] {
	border: 1px solid rgba(0, 0, 0, .3);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}*/


.bg-default {
  background: -webkit-radial-gradient(#F0F0F0, #BEBEBE);
  background: -moz-radial-gradient(#F0F0F0, #BEBEBE);
  background: -ms-radial-gradient(#F0F0F0, #BEBEBE);
  background: -o-radial-gradient(#F0F0F0, #BEBEBE);
  background: radial-gradient(#F0F0F0, #BEBEBE);
}

/*
included for legacy support of old decks with the defaultbg attribute set.
*/
.defaultbg {
  background: -webkit-radial-gradient(#F0F0F0, #BEBEBE);
  background: -moz-radial-gradient(#F0F0F0, #BEBEBE);
  background: -ms-radial-gradient(#F0F0F0, #BEBEBE);
  background: -o-radial-gradient(#F0F0F0, #BEBEBE);
  background: radial-gradient(#F0F0F0, #BEBEBE);
}

.bg-solid-orange {
	background-color: #774040;
}

.bg-solid-black {
	background-color: #222;
}

.bg-solid-light {
	background-color: white;
}

.bg-solid-smoke {
	background-color: #DDD;
}

.bg-solid-yellow {
	background-color: #D1B377;
}

.bg-solid-grass {
	background-color: #597847;
}

.bg-solid-darkgreen {
	background-color: #134952;
}

.bg-solid-sky {
	background-color: #515E99;
}

.bg-solid-lavender {
	background-color: #443C4D;
}

.bg-solid-purple {
	background-color: #6C478F;
}

.bg-solid-salmon {
	background-color: #C98D8D;
}

.bg-solid-1 {
	background-color: #0fd9d1;
}

.bg-solid-2 {
	background-color: #f4eec1;
}

.bg-solid-3 {
	background-color: #dddbcc;
}

.bg-solid-4 {
	background-color: #ecbd2b;
}

.bg-solid-5 {
	background-color: #aa9656;
}

.bg-solid-6 {
	background-color: #7beae6;
}

.bg-solid-7 {
	background-color: #06bdb6;
}

.bg-solid-8 {
	background-color: #0d99e6;
}

.bg-solid-9 {
	background-color: #0b6a9f;
}

.bg-solid-10 {
	background-color: #c10f4d;
}

.bg-solid-11 {
	background-color: #71cca1;
}

.bg-solid-12 {
	background-color: #0dbb68;
}

.bg-solid-13 {
	background-color: #72d3e8;
}

.bg-solid-14 {
	background-color: #d0153d;
}

.bg-solid-15 {
	background-color: #e3c210;
}

.bg-solid-16 {
	background-color: #f4f1a0;
}

.bg-solid-17 {
	background-color: #d7a3f0;
}

.bg-solid-18 {
	background-color: #933fb9;
}

.bg-solid-19 {
	background-color: #a614ea;
}

.bg-solid-20 {
	background-color: #e64383;
}

.nobg {
	background: url(img/nobg.png);
	background-size: 40px 40px;
}

.themeProviders .thumbnail {
	height: 20px;
	width: 20px;
	padding: 10px;
}
