.themedArea div, .themedArea span, .themedArea applet, .themedArea object, .themedArea iframe,
.themedArea h1, .themedArea h2, .themedArea h3, .themedArea h4, .themedArea h5, .themedArea h6, .themedArea p, .themedArea blockquote, .themedArea pre,
.themedArea a, .themedArea abbr, .themedArea acronym, .themedArea address, .themedArea big, .themedArea cite, .themedArea code,
.themedArea del, .themedArea dfn, .themedArea em, .themedArea img, .themedArea ins, .themedArea kbd, .themedArea q, .themedArea s, .themedArea samp,
.themedArea small, .themedArea strike, .themedArea strong, .themedArea sub, .themedArea sup, .themedArea tt, .themedArea var,
.themedArea b, .themedArea u, .themedArea i, .themedArea center,
.themedArea dl, .themedArea dt, .themedArea dd, .themedArea ol, .themedArea ul, .themedArea li,
.themedArea fieldset, .themedArea form, .themedArea label, .themedArea legend,
.themedArea table, .themedArea caption, .themedArea tbody, .themedArea tfoot, .themedArea thead, .themedArea tr, .themedArea th, .themedArea td,
.themedArea article, .themedArea aside, .themedArea canvas, .themedArea details, .themedArea embed,
.themedArea figure, .themedArea figcaption, .themedArea footer, .themedArea header, .themedArea hgroup,
.themedArea menu, .themedArea nav, .themedArea output, .themedArea ruby, .themedArea section, .themedArea summary,
.themedArea time, .themedArea mark, .themedArea audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.themedArea article, .themedArea aside, .themedArea details, .themedArea figcaption, .themedArea figure,
.themedArea footer, .themedArea header, .themedArea hgroup, .themedArea menu, .themedArea nav, .themedArea section {
	display: block;
}

.themedArea h1,
.themedArea h2,
.themedArea h3,
.themedArea h4,
.themedArea h5,
.themedArea h6 {
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;

	word-wrap: break-word;
	line-height: 1;
}

.themedArea h1 { font-size: 3.77em; }
.themedArea h2 { font-size: 2.11em;	}
.themedArea h3 { font-size: 1.55em;	}
.themedArea h4 { font-size: 1em; }

/* Fixes issue in Chrome where italic fonts did not appear when printing to PDF */
.themedArea:after {
  content: '';
  font-style: italic;
}

.themedArea iframe {
	z-index: 1;
}

/** Prevents layering issues in certain browser/transition combinations */
.themedArea a {
	position: relative;
}

.themedArea strong,
.themedArea b {
	font-weight: bold;
}

.themedArea em,
.themedArea i {
	font-style: italic;
}

.themedArea ol,
.themedArea ul {
	display: inline-block;

	text-align: left;
	margin: 0 0 0 1em;
}

.themedArea ol {
	list-style-type: decimal;
}

.themedArea ul {
	list-style-type: disc;
}

.themedArea ul ul {
	list-style-type: square;
}

.themedArea ul ul ul {
	list-style-type: circle;
}

.themedArea ul ul,
.themedArea ul ol,
.themedArea ol ol,
.themedArea ol ul {
	display: block;
	margin-left: 40px;
}

.themedArea p {
	margin-bottom: 10px;
	line-height: 1.2em;
}

.themedArea q,
.themedArea blockquote {
	quotes: none;
}

.themedArea blockquote {
	display: block;
	position: relative;
	width: 70%;
	margin: 5px auto;
	padding: 5px;

	font-style: italic;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
.themedArea blockquote p:first-child,
.themedArea blockquote p:last-child {
	display: inline-block;
}

.themedArea q {
	font-style: italic;
}

.themedArea pre {
	display: block;
	position: relative;
	width: 90%;
	margin: 15px auto;

	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.2em;

	word-wrap: break-word;

	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
.themedArea code {
	font-family: monospace;
}
.themedArea pre code {
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
}
.themedArea pre.stretch code {
	height: 100%;
	max-height: 100%;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.themedArea table th,
.themedArea table td {
	text-align: left;
	padding-right: .3em;
}

.themedArea table th {
	text-shadow: rgb(255,255,255) 1px 1px 2px;
}

.themedArea sup {
	vertical-align: super;
}
.themedArea sub {
	vertical-align: sub;
}

.themedArea small {
	display: inline-block;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}

.themedArea small * {
	vertical-align: top;
}

.themedArea .stretch {
	max-width: none;
	max-height: none;
}

.themedArea {
	text-align: center;
	padding: 20px 0px 0px;
	line-height: 125%;
	font-weight: normal;
}

/*.strut-surface::before, .strut-surface::after {
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  -webkit-filter: grayscale(0.3) brightness(0.3);
  -moz-filter: grayscale(0.3) brightness(0.3);
  filter: grayscale(0.3) brightness(0.3);
}

.strut-surface::after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

.strut-surface, .innerBg {
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}

.slideContainer {
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}

.innerBg {
	-webkit-transition: background-color .8s ease;
	-moz-transition: background-color .8s ease;
	-ms-transition: background-color .8s ease;
	transition: background-color .8s ease;
}